$orange: hsl(26, 100%, 55%);
$orange2 : hsl(25, 100%, 94%);


$dark_blue: hsl(220, 13%, 13%);
$gray1: hsl(219, 9%, 45%);
$gray2: hsl(220, 14%, 75%);
$gray3: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);


$f_size: 16px;

